 <div class="row">
 	<div class="col-md-12">
 		<img data-ng-src="./assets/logo/{{flight.airline}}" alt="Airline Image" style="margin-left: 50px;">
 		<br />
 		<br />
 		<label style="margin-left: 20px;">Departure :</label>
 		<span>{{_departure}}</span>
 		<hr />
 		<label style="margin-left: 20px;">Arrival :</label>
 		<span>{{_arrival}}</span>
 		<hr />
 		<label style="margin-left: 20px;">Date :</label>
 		<span>{{flight.date}}</span>
 		<hr />
 		<label style="margin-left: 20px;">Departure Time :</label>
 		<span>{{flight.departureTime}}</span>
 		<hr />
 		<label style="margin-left: 20px;">Arrival Time :</label>
 		<span>{{flight.arrivalTime}}</span>
 		<hr />
 		<label style="margin-left: 20px;">Duration :</label>
 		<span>{{flight.duration}}</span>
 		<hr />
 		<label style="margin-left: 20px;">Price :</label>
 		<span>{{flight.price}}</span>
 		<hr />
 	</div>
 </div>